body{
    background-color: #95a5a6;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}




button{
    width: fit-content;
    background-color: #333;
    color: white;
    cursor: pointer;
    text-align: center;

}